runtimeClassName: nvidia
securityContext:
  capabilities:
    add:
      - SYS_ADMIN
serviceMonitor:
  enabled: true
  interval: "15s"
  labels:
    release: prometheus
tolerations:
  - key: "nvidia.com/gpu"
    operator: "Exists"
    effect: "NoSchedule"